streamlit
pandas
numpy
groq
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
chromadb
python-dotenv
python-docx
PyPDF2
sentence-transformers
pysqlite3-binary>=0.4.7
